<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.suntrans.smhome">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.suntrans.smhome.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="PGYER_APPID"
            android:value="9876b99e1b36975e4b6eb71d8722a22b" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.suntrans.smhome.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="net.suntrans.smhome.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="net.suntrans.smhome.LoginActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="net.suntrans.smhome.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="net.suntrans.smhome.RoomDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:screenOrientation="landscape"
            android:name="net.suntrans.smhome.AlertActivity"
            android:theme="@style/TranslucentTheme" />

        <service android:name="net.suntrans.smhome.MyService" />
    </application>

</manifest>